# IDE & System Related Files #
.*


# Composer files specific to local instances #
composer.phar
composer.lock

# Required composer dependencies
/vendor/*

# But keep packages shipped with Framework
!/vendor/phputf8/
!/vendor/psr/cache/


# Test Related Files #
phpunit.xml
