language: php

php:
  - 5.3
  - 5.4

before_install:
  - sh -e .travis/scripts/apt-get.sh
  - sh -e .travis/scripts/apache2-vhost.sh
  - sh -e .travis/scripts/apache2-configure.sh

before_script:
  - composer update --dev
  - pyrus channel-discover pear.phpunit.de
  - pyrus install --force phpunit/DbUnit
  - pyrus install -f pear/PHP_CodeSniffer
  - phpenv rehash
  - mysql -e 'create database joomla_ut;'
  - mysql joomla_ut < src/Joomla/Database/Tests/Stubs/mysql.sql
  - psql -c 'create database joomla_ut;' -U postgres
  - psql -d joomla_ut -a -f src/Joomla/Database/Tests/Stubs/postgresql.sql

script:
  - ant composervalidate
  - ant travis-phpcs
  - phpunit --configuration phpunit.travis.xml
